:host {
  box-sizing: border-box;
  font-family: monospace;
  color: #86f3ff;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: monospace;
  border-style: none;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 4px black;
  font-size: 1.4em;
  background-color: black;
  color: #86f3ff;
  font-weight: bold;
  margin: 5em 0;
}

.game-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
