:host {
  box-sizing: border-box;
  font-family: monospace;
  color: #86f3ff;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: monospace;
  border-style: none;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 4px black;
  font-size: 1.4em;
  background-color: black;
  color: #86f3ff;
  font-weight: bold;
  margin: 5em 0;
}

.active {
  color: #fa9c5e;
  margin: 2em 0 0.5em 0;
}

.inactive {
  margin: 2em 0 0.5em 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.game-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
